[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "shinymaterial"]
	path = shinymaterial
	url = https://github.com/ericrayanderson/shinymaterial
	shallow = true
	registered = true
