[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinyglass"]
	path = shinyglass
	url = https://github.com/ericrayanderson/shinyglass
[submodule "shinymaterial"]
	path = shinymaterial
	url = https://github.com/ericrayanderson/shinymaterial
